<!DOCTYPE html>
<html>
<head>
    <title>HagBot</title>
    <link rel="stylesheet" href="https://hagbot.de/static/index_style.css">
    <link rel="stylesheet" href="https://hagbot.de/static/sidebar.css">
    <script src="https://hagbot.de/static/sidebar.js"></script>
</head>
<body>
    <input type="checkbox" class="sidebar-collapse-checkbox" />
    <label for="sidebar-collapse-checkbox" id="collapse-button" class="collapse-button">≡</label>
    <div class="sidebar">
        <div class="logo"></div>
        <label class="collapse-button" for="sidebar-collapse-checkbox" id="collapse-button-sidebar">≡</label>
        <a href="https://hagbot.de/dashboard">Dashboard</a>
    </div>
    <div class="logo-container">
        <h1 class="header-text">HagBot</h1>
        <img src="https://hagbot.de/static/logo_no_bg.png" class="logo">
    </div>
</body>
</html>